[Desktop Entry]
Name=KArc
X-KDE-PluginInfo-Author=J. Rutkowski
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=zbeptz@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=Attribution-ShareAlike 4.0 International
X-KDE-PluginInfo-Name=KArc
X-KDE-PluginInfo-Version=1.0
